*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/*header*/

header{
    background-color: rgb(255, 104, 3);
    height:100px;
    color: white;
    display: flex;
    align-items: center;
}
.conteiner{
    height:80%;
    width: 80%;
}

.content{
    width: 20%;
    padding: 10px
}

.botton-header{
    background-color: rgba(240, 248, 255, 0);
    border-color: rgba(240, 248, 255, 0);
    font-size: xx-large;
}


/*main*/

main{
    display: flex;
    margin: 50px;
}
.conteiner1{
    width: 80%;
    display: flex;
   /* justify-content: center;*/
    flex-direction: column;
   /* align-items: center;*/
    margin: 0;
    flex-wrap: wrap;
}

.content1{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

/*footer*/

footer{
    background-color: rgb(37, 37, 37);
    height:100px;
    color: white;
    display: flex;
    align-items: center;
}

.font-footer{
    font-family: "Nunito", serif;
    font-size: x-large;
}

.inline{
    display: inline-flex;
}

.conteiner2{
    height:80%;
    width: 80%;
}

.content2{
    width: 30%;
    padding: 10px
}

/*utility*/
.d-flex{
    display: flex;
}

.d-colomn{
    display: table-column;
}

.font{
    font-family: "Nunito", serif;
    font-size: x-large;
}

ul{
    list-style: none;
    gap: 10px;
}

.t-left{
    text-align: left;
}

.t-right{
    text-align: right;
}

.a-item{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

.p-absolute{
    position: absolute;

}

.p-relative{
    position: relative
}

.p-fixed{
    position:fixed
}

.p-sticky{
    position: sticky
}
/*colors*/

.bcolor-orange{
    background-color: orange;
}

.bcolor-black{
    background-color: black;
}

.bcolor-red{
    background-color: red;
}

b.color-green{
    background-color: green;
}

.color-white{
    color: white;
}
.color-red{
    color: red;
}


