*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/*header*/

header{
    background-color: rgb(255, 104, 3);
    height:100px;
    color: white;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}
.conteiner{
    height:80%;
    width: 80%;
}

.content{
    width: 20%;
    padding: 10px
}

.botton-header{
    background-color: rgba(240, 248, 255, 0);
    border-color: rgba(240, 248, 255, 0);
    font-size: xx-large;
}


/*main*/

main{
    display: flex;
    margin: 50px;
}
.conteiner1{
    width: 80%;
    display: flex;
   /* justify-content: center;*/
    flex-direction: column;
   /* align-items: center;*/
    margin: 0;
    flex-wrap: wrap;
    position: relative;
}

.content1{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.overlay1:hover{
    width: 320px;
    height: 490px;
    background-image: url(../img/1b.webp);
    position: relative;
    top: 1px; opacity: 1;
    z-index: 1;
}

.overlay2:hover{
    width: 320px;
    height: 490px;
    background-image: url(../img/2b.webp);
    position: relative;
    top: 1px; opacity: 1;
    z-index: 1;
}

.overlay3:hover{
    width: 320px;
    height: 490px;
    background-image: url(../img/3b.webp);
    position: relative;
    top: 1px; opacity: 1;
    z-index: 1;
}

.overlay4:hover{
    width: 320px;
    height: 490px;
    background-image: url(../img/4b.webp);
    position: relative;
    top: 1px; opacity: 1;
    z-index: 1;
}

.overlay5:hover{
    width: 320px;
    height: 490px;
    background-image: url(../img/5b.webp);
    position: relative;
    top: 1px; opacity: 1;
    z-index: 1;
}

.overlay6:hover{
    width: 320px;
    height: 490px;
    background-image: url(../img/6b.webp);
    position: relative;
    top: 1px; opacity: 1;
    z-index: 1;
}
.square-red{
    width: 50px;
    height: 20px;
    position: relative;
    bottom: 50px; right: 130px;
    background-color: red;
    font-size: medium;
}
.square-green{
    width: 100px;
    height: 20px;
    position: relative;
    bottom: 70px; right: 50px;
    background-color: green;
    font-size: medium;
}

.square-hearth{
    width: 35px;
    height: 35px;
    padding-left: 1px;
    position: relative;
    bottom: 520px; left: 143px;
    background-color: rgba(255, 255, 255, 0.952);
    font-size: xx-large;
}


/*footer*/

footer{
    background-color: rgb(37, 37, 37);
    height:100px;
    color: white;
    display: flex;
    align-items: center;
}

.font-footer{
    font-family: "Nunito", serif;
    font-size: x-large;
}

.inline{
    display: inline-flex;
}

.conteiner2{
    height:80%;
    width: 80%;
}

.content2{
    width: 30%;
    padding: 10px
}

/*utility*/
.d-flex{
    display: flex;
}

.d-colomn{
    display: table-column;
}

.font{
    font-family: "Nunito", serif;
    font-size: x-large;
}

ul{
    list-style: none;
    gap: 10px;
}

.t-left{
    text-align: left;
}

.t-right{
    text-align: right;
}

.a-item{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

.p-absolute{
    position: absolute;

}

.p-relative{
    position: relative
}

.p-fixed{
    position:fixed
}

.p-sticky{
    position: sticky
}
/*colors*/

.bcolor-orange{
    background-color: orange;
}

.bcolor-black{
    background-color: black;
}

.bcolor-red{
    background-color: red;
}

b.color-green{
    background-color: green;
}

.color-white{
    color: white;
}
.color-red{
    color: red;
}


